#root {
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--spacing-xl);
}

@media (max-width: 768px) {
  .container {
    padding: 0 var(--spacing-md);
  }
}